/PhenoGlad(java)OLD/
/PhenoGlad(Fortran)/old/
/PhenoGlad(Fortran)/PhenoGlad
.*
!/.gitignore
**/*~
**/build
**/dist
**/files
**/*.lnk
**/*.txt
**/*.mod
Guiold*
**/.class
**/lib
**/old.png
!**/LICENSE.txt
**/*.run
**/*.exe
**/results
**/main.iml
**/*.log*
